body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto; 
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    background-color: #38598b ;
    border: solid 8px white;
    margin-bottom: 10px;
}

.Header a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

/*.ramenLink, .sushiLink, .lasagnaLink {
    
}*/

.mainContent {
    border: solid 8px white;
    background-color: #38598b; 
    padding: 0px 15px;
    color: white;
}

.foodImg {
    width: 300px;
    height: auto;
    border: solid 5px white;
}

.Header, .mainContent {
    margin-left: 10px;
    margin-right: 10px;
}

li {
    margin-bottom: 6px;
}